@font-face {
    font-family: "Source Sans Pro";
    src: url("/assets/fonts/SourceSansPro-SemiBold.ttf");
}

body{
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 100%;
}

#background-img{
    position: fixed;
    top: 0px;
    left:0px;
    width: 100%;
    /*max-height: 100px;*/
    /*height: 80%;*/
}

#login-label{
    position: absolute;
    top: 15%;
    left: 40%;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;

    /* identical to box height */

    color: #FFFFFF;
}

#login-form{
    display: flex;
    position: absolute;
    bottom: 0%;
    width: 98%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-input{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #CAC9CE !important;
}

.login-input input{
    margin-left: 15px;
    margin-right: 15px;
    width: 90%;
    border: none;
    background-color: transparent;
}

#forgot-password{
    color: #F37944;
    text-decoration: none;
    font-family: Source Sans Pro, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    margin: 20px;
}

.button{
    width: 90%;
    height: 50px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border:none;
    font-family: Poppins, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    /* identical to box height */

    color: #FFFFFF;
}

#button-login{
    background-color: #F37944;
}

#button-sign-up,
#button-sign-up-tablet{
    background-color: #0BD1B8;
}

@media only screen and (max-width: 768px) {
    #login-label-tablet{
        display: none;
    }
}

@media only screen and (max-height: 900px){
    #login-header-tablet{
        display: none;
    }
}

@media only screen and (min-height: 900px) {
    #login-form{
        width: 80%;
    }

    #login-label {
        display: none;
    }

    #login-label-tablet {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 15%;
        left: 10%;
    }

    #login-label-tablet h1{
        font-family: Poppins, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 54px;
        color: white;
    }

    #login-label-tablet p{
        font-family: Poppins, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: white;
    }

    .button{
        max-width: 200px;
    }

    #button-sign-up{
        display: none;
    }

    #login-header-tablet{
        font-family: Poppins, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 54px;

        color: #4B486E;

        align-self: flex-start;
    }

    #forgot-password{
        align-self: flex-end;
        margin-right: 0px;
    }

    #button-login{
        align-self: flex-start;
    }
}
